@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?pzwqg2');
  src:  url('../fonts/icons.eot?pzwqg2#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?pzwqg2') format('truetype'),
    url('../fonts/icons.woff?pzwqg2') format('woff'),
    url('../fonts/icons.svg?pzwqg2#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e901";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-telegram:before {
  content: "\e905";
}
.icon-html5:before {
  content: "\e904";
}
.icon-css3:before {
  content: "\e900";
}
.icon-javascript:before {
  content: "\e902";
}
.icon-jquery:before {
  content: "\e903";
}
