.about__content{
    position: absolute;
    top: calc(50vh - 300px);
    left: 17%;

    font-size: 17px;
    line-height: 1.3;
    color: #000;

    text-align: justify;
    display: flex;

    width: 450px;
    height: 600px;
}
.content-about{
    position: relative;

    overflow: hidden;

    padding: 60px 60px 20px;

    background-color: #efefef;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-about::before{
    font-family: 'Montserrat', serif;
    font-size: 150px;
    font-weight: 700;

    position: absolute;
    top: 0;
    left: 15%;

    content: 'About';
    text-transform: uppercase;

    opacity: .1;
    color: rgb(33,150,243);
    z-index: 0;
}
.content-about::after{
    font-family: 'Montserrat', serif;
    font-size: 100px;
    font-weight: 700;

    position: absolute;
    bottom: -5%;
    left: -10%;

    content: 'Contacts';
    text-transform: uppercase;

    opacity: .1;
    color: rgb(244,67,54);
    z-index: 0;
}
.content-about p:not(:last-child){
    margin-bottom: 5px;
}
.about__text{
    font-family: "Kurale", serif;
    
    margin-bottom: 30px;
}
.about__icon{
    flex-grow: 1;
}
.icon__container{
    font-size: 45px;

    display: flex;

    justify-content: space-between;
}
.icon__container span{
    transition: .4s linear;
    display: flex;
}
.icon-html5:hover{
    color: #e54c27;
}
.icon-css3:hover{
    color: #0170bc;
}
.icon-javascript:hover{
    color: #EFD81D;
}
.icon-jquery:hover{
    color: #1066a9;
}

.about__footer{
    z-index: 5;

    display: flex;

    justify-content: space-between;
    align-items: center;
}
.footer__contacts{
    font-size: 25px;

    display: flex;
}
.footer__contacts span{
    display: flex;

    margin-left: 20px;
}
.footer__contacts span:hover{
    animation: icon3d 200ms 3;
}
@keyframes icon3d{
    0%{
        text-shadow: 2px 1px rgba(244,67,54,1), -2px -3px rgba(33,150,243,1);;
    }
    25%{
        text-shadow: -2px -3px rgba(244,67,54,1), 2px 1px rgba(33,150,243,1);;
    }
    50%{
        text-shadow: 2px -1px rgba(244,67,54,1), -5px 1px rgba(33,150,243,1);;
    }
    75%{
        text-shadow: -5px -1px rgba(244,67,54,1), -2px -1px rgba(33,150,243,1);;
    }
    100%{
        text-shadow: -2px 0 rgba(244,67,54,1), 2px -1px rgba(33,150,243,1);;
    }
}

.footer__download{
    font-family: 'Montserrat', serif;
    font-size: 15px;
    font-weight: 500;

    color: #007fe0;
}
.download{
    position: relative;

    padding-bottom: 2px;
}
.download::before{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 1.5px;

    content: '';
    transition: .3s;

    background-color: #000;
}
.download:hover::before{
    width: 100%;
}