*{
    cursor: none;
}
#cursor,
#aura{
    position: absolute;
    z-index: 999999;

    user-select: none;
    transition: transform .5s cubic-bezier(.75,-1.27,.3,2.33), opacity .2s cubic-bezier(.75,-1.27,.3,2.33);
    pointer-events: none;

    border-radius: 50%;

    &.hidden{
        transform: scale(.0001);
    }
}
#cursor{
    transform: translate(-3px, -3px);

    &.active{
        transform: scale(0);

        opacity: 0;
    }
}
#cursor.hold .cursor-dot--first{
    transform: translateX(23px);
}
#cursor.hold .cursor-dot--second{
    transform: translateX(-25px);
}
#aura{
    width: 40px;
    height: 40px;

    transform: translate(4px, 4px);

    border: 1px solid rgba(255,255,255, .5);
    background-color: rgba(255,255,255, .2);

    &.active-link{
        transform: scale(1.4) translate(3px, 3px);

        border: 1.5px solid rgba(255,255,255, .8);
    }
    &.active-btn{
        transform: scale(.5) translate(7px, 7px);

        border: 2px solid rgba(255,255,255, .8);
    }
    &.hold{
        transform: scale(.8) translate(4px, 4px);
        transition: transform .2s ease;
    }
}
.cursor-dot{
    position: absolute;
    top: 0;
    left: 0;

    width: 8px;
    height: 8px;

    border-radius: inherit;
    background-color: rgba(255,255,255, 1);
    transition: transform .2s ease;
}

@media screen and (max-width: 1023px){
    #cursor,
    #aura{
        display: none;
    }
    *{
        cursor: auto;
    }
}