.main__photo{
    position: absolute;
    @include centering(200, 150);

    width: 300px;
    height: 400px;

    transition: 3s all linear;

    opacity: 0;
}

.title__container{
    position: absolute;
    @include centering(100, 400);

    display: flex;
    flex-direction: column;

    width: 800px;
    height: 200px;

    opacity: 0;

    justify-content: center;
    align-items: center;
}
.title__box-text{
    font-family: $fontText;
    @include adaptive-value(font-size, 40, 25);
    
    display: flex;
    align-items: center;
}
.box-text__itm{
    display: flex;

    margin-right: 17px;

    color: #fff;
    text-shadow: #000 0 0 2px;

    flex-wrap: nowrap;
    &:last-child{
        margin-right: 0;
    }
    span{
        position: relative;
        
        display: inline-block; 
    }
}


@media screen and (max-width: 540px){
    .title__box-text{
        font-size: 35px;
        &:last-child{
           flex-direction: column;
           .box-text__itm{
                margin-right: 0;
           }
        }
    }  
}



