/////////////////////////////////////////////MIXIN/////////////////////////////////////////////

@mixin adaptive-value($property, $startSize, $minSize, $maxWidth) {
	$minWidth: 320;
    $addSize: $startSize - $minSize;
    $valueWidth: $maxWidth - $minWidth;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$valueWidth}));
}
@mixin centering($height, $width) {
	#{top}: calc(50vh - #{$height + px});
	#{left}: calc(50vw - #{$width + px});
}

$redColor: rgb(244,67,54); 
$blueColor: rgb(33,150,243);

$color1: $redColor;
$color2: $blueColor;


$fontMain: 'GFS Didot', serif;
$fontNav: 'Montserrat', serif;
$fontText: 'Kurale', serif;
$fontNumber: 'Abril Fatface', serif;


/////////////////////////////////////////////MIXIN/////////////////////////////////////////////