.main__photo{
    position: absolute;
    overflow: hidden;

    transition: 2s all linear;

    @include centering(200, 150);
}
.photo__overlay{
    position: absolute;
    z-index: 10;
    top: -100%;

    width: 100%;
    height: 100%;

    background-color: #bab8b6;
    opacity: .5;
}
.photo{
    opacity: 0;

    width: 300px;
    height: 400px;
    z-index: 100;
}

.title__container{
    position: absolute;
    @include centering(100, 400);

    display: flex;
    flex-direction: column;

    width: 800px;
    height: 200px;

    opacity: 0;

    justify-content: center;
    align-items: center;
}
.title__box-text{
    font-family: $fontText;
    @include adaptive-value(font-size, 40, 25, 1536);
    
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 540px){
        font-size: 35px;
        
        &:last-child{
           flex-direction: column;
           .box-text__itm{
                margin-right: 0;
           }
        }
    }
}
.box-text__itm{
    display: flex;

    margin-right: 17px;

    color: #fff;
    text-shadow: #000 0 0 2px;

    flex-wrap: nowrap;
    &:last-child{
        margin-right: 0;
    }
    span{
        position: relative;
        
        display: inline-block; 
    }
}
.home .footer__contacts{
    font-size: 22px;

    position: absolute;
    right: 15px;
    bottom: 15px;

    flex-direction: column;

    color: #fff;

    span{
        margin-top: 20px;
        margin-left: 0;

        transform: translateY(200px);
    }

    @media screen and (max-width: 450px) {
        flex-direction: row;
        
        span{
            margin: 0 0 0 20px;
        }
    }
}