.works__name--text {
   @include adaptive-value(font-size, 30, 23, 1536);

   position: absolute;
   z-index: 5;
   @include centering(280, 270);

   transition: 1s;

   opacity: 0;
   color: #fff;
}

.works__progress-number {
   font-family: $fontNumber;
   @include adaptive-value(font-size, 160, 90, 1536);

   position: absolute;
   z-index: 10;
   @include centering(1000, -120);

   display: flex;

   color: #fff;
}
.works__slider {
   position: relative;
   top: 50%;
   left: calc(50vw - 270px);

   transform: translateY(-50%);
}
.slider__itm {
   opacity: 0;

   overflow: hidden;
   max-width: 500px;
   width: 100%;

   > img {
      width: 500px;
      height: 450px;
      transition: 0.5s;
   }

   &:hover > img {
      transform: translateY(-80px);
      transition-delay: 0.2s;
   }
}
.slick-slide {
   @include adaptive-value(margin-right, 300, -50, 1500);
}
.slick-track {
   display: flex;
}
.slick-dots {
   position: absolute;
   top: 150%;
   left: 90px;

   display: flex;

   button {
      font-size: 0;

      display: block;

      width: 120px;
      height: 3px;

      border: none;
      border-radius: 0;
      background-color: #fff;
      opacity: 0;
   }
}
.slick-dots li.slick-active button {
   background-color: $color2;
}

.slider__links {
   font-family: $fontNav;
   font-weight: 500;
   font-size: 18px;

   position: absolute;
   bottom: 0;
   left: 0;

   display: flex;

   width: 100%;
   height: 80px;

   transition: 0.5s;
   transform: translateY(80px);

   color: #fff;
   background-color: rgba(12, 12, 12, 0.8);

   justify-content: center;
   align-items: center;
}
.slider__itm:hover .slider__links {
   transform: translateY(0);
   transition-delay: 0.2s;
}
.slider-link {
   position: relative;

   overflow: hidden;

   padding-top: 10px;
   padding-bottom: 10px;
   @include adaptive-value(padding-left, 20, 10, 1536);
   @include adaptive-value(padding-right, 20, 10, 1536);

   &:first-child {
      margin-right: 40px;
   }
   &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';
      transition: 0.4s;
      transform: translateY(96%);

      border: 2px solid $color1;
   }
   span {
      transition: transform 0.4s, opacity 0.4s;
      transition-delay: 0.3s;
   }

   @media screen and (min-width: 500px) {
      &:hover span {
         display: block;

         transition-delay: 0s;
         transform: translateY(-150%);

         opacity: 0;
      }
   }
}
.slider__icon-svg {
   position: absolute;
   @include centering(12.5, 12.5);

   width: 25px;
   height: 25px;

   transition: 0.45s;
   transform: translateY(300%);
}

@media screen and (min-width: 500px) {
   .slider-link:hover::before,
   .slider-link:hover .slider__icon-svg {
      transform: translateY(0);
   }
}
@media screen and (max-width: 800px) {
   .works .title-column {
      display: none;
   }
}
@media screen and (max-width: 700px) {
   .works__name--text {
      @include adaptive-value(left, 70, 10, 700);
   }
}
@media screen and (max-width: 670px) {
   .works__progress-number {
      @include adaptive-value(left, 400, 200, 600);
   }
}
@media screen and (max-width: 600px) {
   .works__progress-number {
      @include adaptive-value(top, -340, -225, 600);
   }
}
@media screen and (max-width: 530px) {
   .slider__itm > img {
      width: 100%;
      height: 100%;

      object-fit: contain;
   }
   .slick-slide {
      margin-right: 0;
   }
   .slick-dots {
      left: calc(50vw - 100px);

      @include adaptive-value(top, 660, 500, 530);

      button {
         width: 80px;
      }
   }
}
@media screen and (max-width: 500px) {
   .works__slider {
      left: -20px;
   }
   .works__name--text {
      @include adaptive-value(top, 90, 190, 500);
   }
   .slider__links {
      @include adaptive-value(font-size, 18, 13, 500);
   }
}
